/* #root{
  background-image: url(./medical.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

} */
/* .full-screen{
  background-image: linear-gradient( to bottom, #f0f9ff 0%,#a1dbff 100% );
  height:max-content;

} */

/*Component-title/title.js*/
.title{
  background-color: rgb(26,161,169, .5);
}


/*Component-Tabs/dragAndDrop.js*/
.box {
    border:5px solid rgb(0, 196, 186);
    height: 150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
  }

  .text{
    position:relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: auto;
}

.position{
  text-align: center;
  margin-bottom: 50px;
}

.dropLi{
  margin-bottom: 10px;
  list-style-type: circle;
}

.wrong{
  color: red;
  font-family: Roboto;
}

.drop-btn{
  text-align: center;
}

.div-selected{
  text-align: center;
}


.frame-strPyradiomics{
  border:5px solid rgb(0, 196, 186);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  font-family: Roboto;
}

.frame-strMetadata{
  border:5px solid #FFCA4F;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  font-family: Roboto;
}

.json-input{
  height: 250px;
  width: 350px;
}

.box-textarea{
  text-align: center;
}


.handleModal{
  margin-top: 10px;
  text-align: center;
}


.div-drop-form{
  text-align: center;
  margin-bottom: 50px;
}

.metadata{
  background-color: #FFCA4F;
  border: #FFCA4F
}

.btn-drop-form{
  margin-right:25px;
  margin-left: 25px; 
}

/* .DragDrop{
  background-color: chocolate;
  rgb(26,161,169, .7)
  url(./Component-Tabs/medical.jpg) 
} */



/*Component-Tabs/test.js*/

.nav-tabs .nav-link.active {
  background-color: #a1dbff;
  color: #000;
  border: 3px solid #a1dbff;
  
}

.nav-tabs .nav-link{
  border: 3px solid #a1dbff;
  margin-right: 2rem;
}

.all-tab{
  background-image: linear-gradient( to top, #f0f9ff 0%,#a1dbff 100% );
  height: auto;
}

.tableBordered{
  border: 1px solid black;
}

/* Component-Tabs/explanations.js */

.cardHeader{
  background-image: linear-gradient( to top, #f0f9ff 0%,#FFCA4F 100% );
  font-family: Roboto;
  font-size: 1.5em;
}

.cardBody{
  font-family: Roboto;
}

.card-title{
  font-size: 30px;
}

.card{
  border: 1px solid black;
}

